---
title: See other people moods
layout: base.njk
tops:
    - name: "Upload one"
      url: "/upload"
    - name: "See all"
      url: "/all"
    - name: "About us"
      url: "/about"
---

<div class="bg-white w-1/2 md:w-10/12 h-1/2 rounded-md"></div>
